/*
----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of common browsers to a common base
----------------------------------------
*/

ul,ol { list-style: none; }
h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input,dl,dt,dd, figure, figcaption {
  margin: 0;
  padding: 0; }
a img,:link img,:visited img, fieldset { border: none; }
address { font-style: normal; }
header, section, article, nav, footer, hgroup, details, summary, figure, main { display: block; }
mark {
  color: inherit;
  background: transparent; }
abbr { border: none; }
summary::-webkit-details-marker { display: none; }

/* end reset */

body {
  background-color: #2f2f2f;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  color: silver;
}

h1 {
  padding-top: 15px;
  text-align: center;
  font-size: 36px;
}

main {
  max-width: 1000px;
  min-width: 600px;
  margin: 0 auto;
  background-color: #2f2f2f;
  padding: 20px;
}

figure {
  margin-bottom: 20px;
}
figure#primary img {
  width: 100%;
  border: 10px solid white;
  box-sizing: border-box;
}

figcaption {
  padding-top: 8px;
  text-align: center;
}

ul {
  margin: 0 -10px;
}

ul li {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 10px;
  width: 25%;
}
ul li img {
  border: 3px solid white;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}